.planets-container{
    position: relative;
}

.planet{
    border-radius: 100%;
    z-index: -1;
    position: absolute;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.sun{
    height: clamp(130px, 16vw, 235px);
    width: clamp(130px, 16vw, 235px);
    background: var(--sun-orange);
    left: -10px;
    top: -34px;
}
.mercury{
    height: clamp(6px, 1vw, 8px);
    width: clamp(6px, 1vw, 8px);
    background: var(--mercury-red);
    left: clamp(8rem, 15vw, 13rem);
    top: -1.5rem;
}
.venus{
    height: clamp(10px, 1vw, 12px);
    width: clamp(10px, 1vw, 12px);
    background: var(--venus-brown);
    left: clamp(9rem, 20vw, 20rem);
    top: 5.5rem;
}
.earth{
    height: clamp(10.5px, 1vw, 14px);
    width: clamp(10.5px, 1vw, 14px);
    background: var(--earth-blue);
    left: clamp(5rem, 25vw, 21rem);
    top: clamp(8.5rem, 17vw, 12rem);
}
.mars{
    height: clamp(8px, 1vw, 10px);
    width: clamp(8px, 1vw, 10px);
    background: var(--mars-red);
    left:7rem;
    top: clamp(12.5rem, 20vw, 18rem);
}
.jupiter{
    height: clamp(75px, 1vw, 80px);
    width: clamp(75px, 1vw, 80px);
    background: var(--jupiter-green);
    left: -2.5rem;
    top: 15rem;
}
.saturn{
    height: clamp(60px, 1vw, 72px);
    width: clamp(60px, 1vw, 72px);
    background: var(--saturn-purple);
    left: 14rem;
    top: 22rem;
}
.saturn-ring{
    background: rgba(196, 196, 196, 0.74);
    transform: rotate(25.92deg);
    border-radius: 10px;
    width: 100px;
    height: 3px;
    position: absolute;
    top: 1.9rem;
    left: -1.4rem;

}
.uranus{
    height: clamp(45px, 1vw, 65px);
    width: clamp(45px, 1vw, 65px);
    background: var(--uranus-blue);
    left: 3rem;
    top: 30rem;
}
.neptune{
    height: clamp(38px, 1vw, 45px);
    width: clamp(38px, 1vw, 45px);
    background: var(--neptune-blue);
    left: 10rem;
    top: 35rem;
}





 /* PLANETS MEDIA QUERIES */
@media only screen and (min-width: 850px) {
    .jupiter{
        left:clamp(-2.5rem, 20vw, 13rem);
        top: clamp(15rem, 36vw, 25rem)
    }
    .saturn{
        left: clamp(24rem, 38vw, 33rem);
        top: clamp(15rem, 20vw, 18rem);
    }
    .neptune{
        left: clamp(10rem, 70vw, 65rem);
    }
    .uranus{
        
        left: clamp(3rem, 50vw, 50rem);
        top: clamp(30rem,50vw, 15rem);
    }
}

