/* BURGER NAV ICON */
.burger-nav-container{
    display: flex;
    justify-content: flex-end;
}
.burger-bar-wrapper{
    width: fit-content;
    margin: 10px 10px 0 0;
    background: none;
    border: none;
}
.burger-bar-wrapper:hover{
    cursor: pointer;
    transform: scale(1.2)
}

.burger-bar{
    border-radius: 10px;
    height:5px;
    width: 33px;
    background: var(--silver);
    margin: 5px;
    position: relative;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}   