
.distances-container{
    width: 100vw;
    position: absolute;
    top: 0;
    display: grid;
    place-content: center;
    z-index: -1;
}
.distance-sun {
    background: var(--sun-orange);
    height: 700px;
    width: 700px;
    border-radius: 100%;
    position: absolute;
    left: -410px;
    top: -555px;
    transition: 1s;
}
.distances-content-container{
    padding: 0;
    margin: 140px 0 0 0;
}
.distances-content-wrapper{
    position: relative;
}
.distances-bar{
    width: clamp(320px, 91vw, 1400px);
    height: clamp(500px, 103vw, 600px);
    padding: 0;
    margin:0;
}

/* PLANET POSITIONING */
.mercury-dist-container{
    top: -1%;
    left:.5%;
}
.venus-dist-container{
    top: 1.25%;
    left:.5%;
}
.earth-dist-container{
    top: 3.3%;
    left:.8%;
}
.mars-dist-container{
    top: 8%;
    left:1%;
}
.jupiter-dist-container{
    top: 18%;
    left:3%;
}
.saturn-dist-container{
    top: 35%;
    left:10.5%;
}
.uranus-dist-container{
    top: 60%;
    left:31%;
}
.neptune-dist-container{
    flex-direction: row-reverse;
    top: 87%;
    left:80%;
}


@media only screen and (min-width: 500px) {
    .neptune-dist-container{
        left: clamp(80%, 78vw, 95%);
    }
  }
@media only screen and (min-width: 1050px) {
    .neptune-dist-container{
        left: clamp(95%, 70vw, 97%);
    }
  }
