/* REUSABLES */
.display-none{
    display: none !important;
}
.menu-wrapper-display-none{
    display: none;
}
.header{
    font-family: var(--header-font);
    color: var(--silver);
    font-weight: 300;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* REUSABLES END */




.menu-container{
    width: fit-content;
    margin: auto;
}
.menu-container h1{
    font-size: clamp(48px, 8vw, 96px);
    margin: 10px 0 0 0;
    text-align: center;
}

.menu-wrapper{
    height: 100vh;
    width: 100vw;
    position: absolute;
    padding: 0;
    margin: 0;
    background: rgba(32, 34, 41, 0.95);
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
}
.menu-close-x{
    background: center/cover url('../imgs/closex.png') no-repeat;
    height: 30px;
    width: 30px;
    margin: 15px 0 0 16px; 
    border: none;
}
.menu-close-x:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.menu{
    display: flex;
    justify-content: space-around;
    margin: 5px 0 0 16%;
    text-align: center;
    margin: 0;
    height: 75%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none !important;
}
.menu input {
    visibility:hidden;
    display: none;
}
.menu label {
    cursor: pointer;
    padding: 0;
    margin:0;
}
.menu-link{
    font-family: var(--header-font);
    color: var(--silver);
    font-weight: 200;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    font-size: 18px;
}
.menu input:checked + label {
    font-weight: bold;
    border: solid 1px var(--earth-blue);
    padding: 3px 15px;
    border-radius: 50px;
    background: rgba(22, 188, 243, 0.35);
}
.subheader-wrapper{
    margin:auto;
    max-width: 650px;
}

/* THESE CLASSES ARE BEING MANUFACTURED IN metricSunheaders() */
.menu-container h3{
    text-align: right;
    margin: 5px 0 0 0;
    font-size: 18px;
    font-weight: bold;
}
.menu-container p{
    text-align: right;
    margin: 5px 0 0 0;
    font-size: 14px;
    font-weight: bold;
}




/* MEDIA QUERIES */
@media only screen and (min-width: 850px) {
    .burger-nav-container{
        display: none;
    }
    .menu-container{
        margin-top: 50px;
        width: 100%;
        max-width: 70%;
    }
    .menu-container h3{
        margin: 15px 0 0 0;
    }
    .menu-wrapper{
       background-color: transparent;
       position: unset;
       height: fit-content;
       width: 100%;
    }
    .menu-container ul{
        flex-direction: row;
        height: fit-content;
        padding: 0;
        max-width: 650px;
        justify-content: space-between;
        margin: auto;
    }
    .menu-close-x{
        display: none;
    }
    .display-none{
        display: block !important;
    }
}