


.planets-content-container{
    margin:200px auto 0 auto;
}
.sun-p-wrapper{
    text-align: center;
    margin: 0 auto;
    width: fit-content;
}
.sun-p{
    color: #fff;
    margin: 0;
    padding: 0;
}
.planets-container {
    display: flex;
    align-items: center;
    justify-items: center;
    margin-top: 50px;
}
.planet-container{
    padding: 0;
    margin: 0 4px;
    text-align: center;
}
.planet-container p {
    margin: 0;
    color: #fff;
    font-size: clamp(12px, 2vw, 14px);
}
.planet-wrapper{
    height: 16px;
    display: grid;
    place-content: center;
}
.planet{
    border-radius: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
}

/* THIS CLASS IS CONDITOINALLY RENDERED.
IT IS USED FOR DISTANCES,TEMPERATURES, DAYS, AND YEARS COMPONENTS ONLY */
.flexed-planet-container{
    display: flex;
    position: absolute;
}

.flexed-planet-container p:nth-child(even){
    margin: 0 5px;
}


/* PLANETS CSS */
.sun-mass{
    background-color: var(--sun-orange);
    transition: .7s;
}
.mercury{
    height: 1.2px;
    width: 1.2px;
    background: var(--mercury-red);
    transition: .7s;
}
.venus{
    height: 2.9px;
    width: 2.9px;
    background: var(--venus-brown);
    transition: .75s; 
}
.earth{
    height: 3px;
    width: 3px;
    background: var(--earth-blue);
    transition: .8; 
}
.mars{
    height: 1.5px;
    width: 1.5px;
    background: var(--mars-red);
    transition: .85s; 
}
.jupiter{
    height: 15px;
    width: 15px;
    background: var(--jupiter-green);
    transition: .9s;
}
.saturn{
    height: 10px;
    width: 10px;
    display: grid;
    place-content: center;
    background: var(--saturn-purple);
    transition: .95s;
}
    .saturn-ring{
        height: .8px;
        width: 18px;
        background-color: #c4c4c4;
        border-radius: 10px;
        transform: rotate(-45.79deg);
    }
.uranus{
    height: 8px;
    width: 8px;
    background: var(--uranus-blue);
    transition: 1s; 
}
.neptune{
    height: 6px;
    width: 6px;
    background: var(--neptune-blue);
    transition: 1.05s; 
}
 

/* DIAMETERS PLANETS*/
.sun-diam{
    border: 2px solid var(--sun-orange);
    background: transparent;
    transition: .7s;
}
.mercury-diam{
    border: .3px solid var(--mercury-red);
    background: transparent;
    transition: .7s;
}
.venus-diam{
    border: 0.5px solid var(--venus-brown);
    background: transparent;
    transition: .75s;
}
.earth-diam{
    border: 0.5px solid var(--earth-blue);
    background: transparent;
    transition: .8s;
}
.mars-diam{
    border: 0.5px solid var(--mars-red);
    background: transparent;
    transition: .85s;
}
.jupiter-diam{
    border: 0.5px solid var(--jupiter-green);
    background: transparent;
    transition: .9s;
}
.saturn-diam{
    border: 0.5px solid var(--saturn-purple);
    background: transparent;
    transition: .95s;
}
.uranus-diam{
    border: 0.5px solid var(--uranus-blue);
    background: transparent;
    transition: .1s;
}
.neptune-diam{
    border: 0.5px solid var(--neptune-blue);
    background: transparent;
    transition: 1.05s;
}